@media screen and (max-width:576px) {
    .header-section,
    .banner-container{
        flex-direction: column;
    }
    .header-section{
        margin: 15px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: auto 5px;
    }
    .banner-image img{
        width: 100%;
    }
}